<div class="container-fluid">
  <div class="row">
   <div class="col-md-6 col-md-offset-2 col-sm-6 col-xs-12">
   <h2>Edit Details of the Event </h2>
   <%= render 'form', event: @event %>
<p>
<%= link_to 'Back to Events List', dashboard_path,class:"btn btn-info" %>
</p>
</div>
</div>
</div
	

